#site-header {
    background-color: $color-primary;
}

#site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;

    @media screen and (max-width: 991px) {
        flex-direction: column;
    }
}

#logo {
    width: 100%;
    max-width: 300px;
}

#main-menu {
    display: flex;
    font-size: 1.8em;
    color: #fff;
    font-weight: 600;

    li {
        margin-left: 2rem;

        a {
            transition: all ease .3s;
            
            &:hover {
                color: #333;
                text-decoration: none;
            }
        }
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
        text-align: center;
    }
}
