.icons-wrapper {
    display: flex;
    align-items: center;
}

.icon-content {
    padding: 2em;

    & > * {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .fa {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
        font-weight: bold;
    }

    &.main {
        flex-basis: 33.3%;
    }
}
