.icons-wrapper {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.icon-content {
    padding: 2em;

    & > * {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .fa {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
        font-weight: bold;
    }

    &.main {
        flex-basis: 33.3%;
    }

    &:not(.main) {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}
